extends layout.pug
block content
	.container
		.alert.alert-dark.my-3
			h4 리스트
		table.board-list.table.table-bordered
			thead.thead-dark
				tr
					th 번호
					th 제목
					th 작성자
					th 작성일
					th 조회수
			tbody
				tr
					td 1
					td 제목입니다.
					td 홍길동
					td 2020-02-23 15:33:34
					td 1