.header.d-flex.justify-content-between.bg-dark
	.logo.p-3 LOGO
	.navi-wrap.d-flex
		a.p-3(href="/") 메인
		a.p-3(href="/user/join") 회원가입
		a.p-3(href="/user/login") 로그인
		a.p-3(href="/user/logout") 로그아웃