body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header {color: #f1f1f1;}
.header a,
.header a:link,
.header a:visited,
.header a:hover,
.header a:active {
  color: inherit;
}

.board-list > thead > tr > :nth-child(1) {width: 10%;}
.board-list > thead > tr > :nth-child(3) {width: 15%;}
.board-list > thead > tr > :nth-child(4) {width: 15%;}
.board-list > thead > tr > :nth-child(5) {width: 10%;}
